[Unit]
Description=ipfs daemon for integration test (offline)

[Service]
ExecStart=ipfs daemon --init --offline
Environment=IPFS_PATH="%h/.ipfs"

[Install]
WantedBy=docker-entrypoint.target
