# This job runs any subsidiary linter not part of golangci (shell, yaml, etc)
name: job-lint-other

on:
  workflow_call:
    inputs:
      timeout:
        required: true
        type: number
      runner:
        required: true
        type: string

env:
  GOTOOLCHAIN: local

jobs:
  lint-other:
    name: "yaml | shell"
    timeout-minutes: ${{ inputs.timeout }}
    runs-on: ${{ inputs.runner }}
    defaults:
      run:
        shell: bash

    steps:
      - name: "Init: checkout"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 1

      - name: "Run: yaml"
        run: |
          make lint-yaml

      - name: "Run: shell"
        run: |
          make lint-shell
